# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- Identify commonly used Data Science libraries  
- Create tables and lists in Markdown

Some of the popular languages that Data Scientists use are:

1. Python  
2. R  
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas  
2. NumPy  
3. Matplotlib

|Data Science tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|GitHub|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
2000/60

33.333333333333336

## Author
Mohammed Mohammed